.dropdown {
  display: flex;
  margin: 0 10px;
  justify-content: flex-start;

  select {
    height: 20px;
    margin-top: 8px;
  }

  label {
    padding-top: 10px;
  }
}

@media screen and (max-width:800px) {
  .dropdown {
    select {
      height: 20px;
    }
    label {
      padding-top: 12px;
    }
  }
}