.game {
  border-radius: 10px;
  box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.75);
  height: 200px;
  margin: 15px 10px;
  min-width: 180px;
  width: 18%;
}

.empty {
  height: 0;
  margin: 15px 10px;
  min-width: 180px;
  width: 18%;
}