.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 75px 0 auto;

  .empty {
    content: '';
    height: 0;
    width: 18%;
    margin: 0 10px;
    min-width: 180px;
  }
}

@media screen and (max-width: 420px) {
  .games {
    margin: 150px 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .games {
    margin: 150px 0 auto;
  }
}
