.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0 auto;

  .empty {
    content: '';
    height: 0;
    width: 18%;
    margin: 0 10px;
    min-width: 180px;
  }
}