header {
  background-color: #fff;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 5px 5px 5px rgba(243, 244, 245, 0.99);

  .title {
    background-color: #bfc6c830;
    margin: 0;
    padding-top: 10px;
  }

  .options {
    display: flex;
    justify-content: space-around;

    input {
      background-color: lightgreen;
      height: 20px;
      margin: auto;
    }
  }
}
