header {
  background-color: #fff;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 5px 5px 5px rgba(243, 244, 245, 0.99);

  .title {
    background-color: #bfc6c830;
    margin: 0;
    padding-top: 10px;
  }

  .num {
    color: red;
    margin: 0;
  }

  .options {
    display: flex;
    justify-content: space-around;
    align-self: center;

    .block {
      display: flex;

      .faves {
        border: 1px solid grey;
        padding: 3px;
        border-radius: 4px;

        &:hover {
          background-color: #8fee90;
        }
      }
    }

    .drop-downs {
      display: flex;
      flex-direction: column;
    }

    span {
      font-size: 0.8rem;
    }

    button {
      height: 20px;
      margin: auto;
    }

    input {
      background-color: lightgreen;
      height: 20px;
      margin: auto;
    }
  }
}

@media screen and (max-width: 800px) {
  header {
    height: 150px;
  }

  header,
  .options {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  header .options span {
    font-size: 0.6rem;
  }
}
