.info {
  background-color: #fff;
  padding: 10px;

  .title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
  }
  .back {
    position: fixed;
    top: 85px;
    right: 10px;
    color: red;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }
  }

  .desc {
    overflow: hidden;
  }

  .ellipsis {
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 800px) {
  .info .back {
    position: fixed;
    top: 160px;
    right: 10px;
  }
}